	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/07/2018 09:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.html");
  src: url("fonts/Flaticond41d.html?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon-2.html") format("woff"),
       url("fonts/Flaticon-3.html") format("truetype"),
       url("fonts/Flaticon-4.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon-4.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;        
font-style: normal;
}

.flaticon-mobile-shopping:before { content: "\f100"; }
.flaticon-devices:before { content: "\f101"; }
.flaticon-research:before { content: "\f102"; }
.flaticon-mobile-app-developing:before { content: "\f103"; }
.flaticon-graphic-design:before { content: "\f104"; }