/*
============== background Color====================
*/
.stricky, #back-to-top, .tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover, .testimonial_silder .owl-controls .owl-nav .owl-next:hover,
.testimonial_silder .owl-controls .owl-nav .owl-prev:hover, .link-zoom a.project_links, .link-zoom a, .price-amount::after,
#contact .full_btn, .btn-text, .sk-circle .sk-child:before {
  background: #009fe0;
}

.team_social, .testimonial_sec:before {
  background: #009fe0;
  /* The Fallback */
  background: rgba(0, 159, 224, 0.8);
}

/*
============== Text Color====================
*/
a:focus, a:hover, h2 span, .clean_top .content i, .container-filter li a.active, .container-filter li a:hover, .price_box:hover .price-title,
.blog .post-content a.blog_tital:hover, .blog .post-content a.read_more:hover, .creative_text h2, .item_testimonial a, 
.blog .post-content a.read_more {
  color: #009fe0;
}

/*
============== Border Color====================
*/
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover, .icon_left_home, .price-amount, .main-banner .banner-text .btn-text,
.btn-text {
  border-color: #009fe0;
}